<div class="container">
  <div class="row modal-dialog-centered">
    <div class="col-4">
      <app-devices></app-devices>
    </div>
    <div class="col-8">
      <div class="card shadow p-3 mb-5 bg-white rounded ">
        <div class="card-body">
          <agm-map [latitude]="data[0].lat" [longitude]="data[0].lng" [zoom]="16">
            <div class='agm-info-window-content'>
              <ng-content>

              </ng-content>
            </div>
            <agm-direction [origin]="origin" [destination]="destination" [waypoints]="coordenadas"></agm-direction>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="getDirection();">click</button>